@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

body {
    padding: 80px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1vw;
}

h1 {
    font-size: 16;
}

p{
    word-spacing:50px;
}
