body {
	background-color: #;
}


ol li {
	line-height: 30px;
	font-size: 125%;
}

ul li {
	line-height: 30px;
	font-size: 100%;
}

#bodyspace {
	padding-right: 200px;
	padding-left: 200px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}