@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

body {
	background-color: #dddddd;
	font-family: 'Open Sans', sans-serif;
}


h1{
	font-size: 3vw;
}
h1 span{
	background-color: black;
}

p.links{
	background-color: #bfbfbf;
}

div {
    background-color: #dddddd;
}


ol li {
	line-height: 30px;
	font-size: 125%;
}

ul li {
	line-height: 30px;
	font-size: 100%;
}

#bodyspace {
	padding-right: 200px;
	padding-left: 200px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


a{
	color: white
	text-shadow: 3px 2px red

}

a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:focus {
    color: white;
}
a:active {
    color: white;
}
